.loadingtext{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
}
.headline{
    color: rgb(255,255, 255);
    font-size: 2.8em;
    text-align: center;
  }
.platform{
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    margin-left: 30px;
}
.line{
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    margin-left: 30px;
}
.departures{
    color: rgb(255, 255, 255);
    padding-left: 10px;
    display: flex;
    justify-content: center;
}
.info{
    padding-left: 10px;
    font-weight: bold;
}
.wrapper{
    display: grid;
    grid-template-columns: 150px 300px 200px 300px;
    display:inline-flex;
}

.destination{
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    margin-left: 30px;
}
.ziel{
    margin-bottom: 0;
}
.platform{
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    margin-left: 30px;
}
.gleis{
    margin-bottom: 0;
}
.departure{
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    margin-left: 30px;
}
.abfahrt{
    margin-bottom: 0;
}

.delays{
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    margin-left: 30px;
}
.verspaetung{
    margin-bottom: 0;
}
.refreshbutton{
    background: none;
    border: none;
    font-size: 0.8em;
    color: rgb(107, 105, 105);
  }
  .refreshbutton:hover{
    background: none;
    border: none;
    font-size: 0.8em;
    color: #27d;
  }
  .footer{
    position: fixed;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-bottom: 3px;
    margin-left: 10px;
    width: 100%;
    color: rgb(255, 255, 255);
  }