@import "https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css";
body{
  background-color: rgb(28, 38, 85);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
tr, th, td{
  padding-left: 10px;
}